# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
.env
.venv

# Archivos de base de datos
db.sqlite3

# Archivos de configuración de VSCode
.vscode/

# Archivos de Django estáticos
staticfiles/

# Archivos subidos por el usuario
media/